@import "base";

@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.layout-main {
  position: relative;
  width: 100%;
  height: 100%;

  .bgm-btn {
    z-index: 8;
    position: absolute;
    top: ( 33 / 75 ) * 1rem;
    right: ( 30 / 75 ) * 1rem;
    width: ( 70 / 75 ) * 1rem;
    height: ( 70 / 75 ) * 1rem;
    background: url("../../assets/images/play_close.png") no-repeat;
    background-size: 100%;

    &.play {
      background: url("../../assets/images/play_open.png") no-repeat;
      background-size: 100%;
      animation: myrotate 5s linear 0s infinite normal;
    }
  }
}

.brand-egg {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  .brand-egg-cont {
    position: relative;
    // width: (520 / 75) *1rem;
    // height: (559 / 75) * 1rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../../assets/images/brand_egg.gif") no-repeat;
    background-size: (520 / 75) *1rem (559 / 75) * 1rem;
    background-position: center center;
  }
}
