@import "base";
@function trem($px) {
  @return ($px / 75) * 1rem;
}
.myLoveLetter-wp {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c1c6cc;

  .myLoveLetter-cont {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/myletter_top_bg.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .myLoveLetter-bg {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: (105 / 75) * 1rem;
    background: url("../../assets/images/myletter_bottom_bg.png") no-repeat;
    background-size: contain;
    background-position: bottom center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .myLoveLetter-main {
    position: relative;
    min-height: (789 / 75) * 1rem;
  }

  .letter-info {
    position: relative;
    width: (620 / 75) * 1rem;
    height: (789 / 75) * 1rem;
    padding-top: (35/ 75) * 1rem;
    margin: 0 auto;
    background: url("../../assets/images/write_xinzhi2.png") no-repeat;
    background-size: contain;
    background-position: top center;
    // font-family: SourceHanSerifCN-Bold-compress2;
    letter-spacing: (2 / 75) * 1rem;
    color: #0f0503;
  }

  .letter-info-qrcode {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    bottom: 0.3rem;
    left: 0.53333rem;
  }

  .letter-info-main {
    position: relative;
    width: (548 / 75) * 1rem;
    height: (700 / 75) * 1rem;
    padding: (40 / 75) * 1rem;
    margin: 0 auto;
  }

  .wm {
    position: relative;
    font-size: (28 / 75) * 1rem;
    font-weight: 500;
    text-align: left;
  }

  .letter-m {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: (520 / 75) *1rem;
    font-size: (26 /75) * 1rem;
    line-height: (40 / 75) * 1rem;
    overflow: hidden;
  }

  .u-info {
    position: relative;
    height: (70 / 75) * 1rem;
    margin-top: (15 / 75) * 1rem;
    line-height: (70 / 75) * 1rem;
    vertical-align: middle;
    text-align: right;

    .u-avatar {
      display: inline-block;
      width: (70 / 75) * 1rem;
      height: (70 / 75) * 1rem;
      vertical-align: middle;
      border-radius: (70 / 75) * 1rem;
      overflow: hidden;
    }

    .u-name {
      display: inline-block;
      margin-left: (10 / 75) * 1rem;
      font-size: (28 / 75) * 1rem;
      font-weight: 500;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: (70 / 75) * 1rem;
    height: (85 / 75) * 1rem;
    background-size: (70/ 75) * 1rem (85 / 75) * 1rem;
    outline: none;
    text-decoration: none;
  }

  .swiper-button-prev {
    background-image: url("../../assets/images/l_arrow.png");
    left: 0;
  }

  .swiper-button-next {
    background-image: url("../../assets/images/r_arrow.png");
    right: 0;
  }

  .letter-total {
    z-index: 8;
    position: absolute;
    left: 0;
    top: -(40 / 75) * 1rem;
    width: 100%;
    font-size: (28 / 75) * 1rem;
    font-weight: bold;
    text-align: center;
    color: #343333;
  }

  .btns-wp {
    position: relative;
    margin-top: (20 / 75) * 1rem;
    text-align: center;

    .btn-link {
      display: inline-block;
      width: (250 /75) * 1rem;
      height: (86 / 75) * 1rem;
      margin: 0 (26 / 75) * 1rem;
      text-decoration: none;
      cursor: pointer;

      &.return-home {
        background: url("../../assets/images/return_home.png") no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &.send-out {
        background: url("../../assets/images/sendOut_btn.png") no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }

  .letter-text {
    position: relative;
    width: (499 / 75) * 1rem;
    height: (20 / 75) * 1rem;
    margin: (35/ 75) * 1rem auto;
    background: url("../../assets/images/sendOut_text.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .logo-wp {
    position: relative;
    margin-top: (20 / 75) * 1rem;
    text-align: center;

    .logo-img {
      width: (144 / 75) * 1rem;
      height: (60 / 75) * 1rem;
      margin-bottom: (20 / 75) * 1rem;
      vertical-align: middle;
      outline: none;
      overflow: hidden;
    }
  }

  .keys-wp {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;

    .keys-main {
      position: relative;
      width: 100%;
      height: 100%;
      // background: url("../../assets/images/key_bg.png") no-repeat;
      background-size: contain;
      background-position: top center;
      padding-top: trem(216);

      .qrcode{
        width: trem(214);
        height: auto;
        display: block;
        margin: 0 auto;
      }

      .qrcode-wp {
        position: relative;
        padding-top: trem(56);
        text-align: center;
        background-image: url(../../assets/images/bg_code.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        width: trem(576);
        height: trem(716);
      }

      .keys-close {
        // display: inline-block;
        // position: absolute;
        // top: (108 / 75) * 1rem;
        // right: (55 / 75) * 1rem;
        // width: (70 / 75) * 1rem;
        // height: (70 / 75) * 1rem;
        // text-decoration: none;
        // cursor: pointer;
        position: absolute;
        width: trem(75);
        height: trem(75);
        background-image: url(../../assets/images/icon_close.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: trem(100);
        right: trem(55);
      }

      .btn-fuzhi {
        position: relative;
        background-image: url(../../assets/images/btn_code.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-decoration: none;
        width: trem(278);
        height: trem(86);
        margin: trem(330) auto 0;
      }
    }
  }

  .flower-heart {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;

    .flower-img {
      width: (750 / 75) * 1rem;
      height: (650 / 75) * 1rem;
      vertical-align: middle;
      outline: none;
      overflow: hidden;
    }
  }

  .share-tips {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    width: (140 / 75) * 1rem;
    height: (50 / 75) * 1rem;
    margin-top: - (25 / 75) * 1rem;
    margin-left: - (70 / 75) * 1rem;
    font-size: (26 / 75) * 1rem;
    color: #fff;
    line-height: (50 / 75) * 1rem;
    text-align: center;
    border-radius: (6 / 75) * 1rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
