@import "base";

.borrow-wp {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c1c6cc;

  .borrow-cont {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/write_top_bg.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .borrow-bg {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: (106 / 75) * 1rem;
    background: url("../../assets/images/write_bottom_bg.png") no-repeat;
    background-size: contain;
    background-position: bottom center;
  }

  .borrow-main {
    position: relative;
  }

  .borrow-info {
    position: relative;
    width: (544 / 75) * 1rem;
    height: (700 / 75) * 1rem;
    padding: (70 / 75) * 1rem (65 / 75) * 1rem (60 / 75) * 1rem (70 / 75) * 1rem;
    margin: 0 auto;
    background: url("../../assets/images/write_xinzhi.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .borrow-total {
    margin-top: (40/ 75) * 1rem;
    font-size: (28 / 75) * 1rem;
    font-weight: bold;
    text-align: center;
    color: #343333;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: (70 / 75) * 1rem;
    height: (85 / 75) * 1rem;
    background-size: (70 / 75) * 1rem (85 / 75) * 1rem;
    outline: none;
    text-decoration: none;
  }

  .swiper-button-prev {
    background-image: url("../../assets/images/l_arrow.png");
    left: 0;
  }

  .swiper-button-next {
    background-image: url("../../assets/images/r_arrow.png");
    right: 0;
  }

  .btns-wp {
    position: relative;
    margin-top: (20 /75) * 1rem;
    text-align: center;

    .btn-link {
      display: inline-block;
      margin: 0 (26 / 75) * 1rem (23/ 75) * 1rem;
      text-decoration: none;
      cursor: pointer;

      &.write-btn {
        width: (262 / 75) * 1rem;
        height: (108 / 75) * 1rem;
        background: url("../../assets/images/write_btn.png") no-repeat;
        background-size: contain;
        background-position: top center;
      }

      &.borrow-btn {
        width: (250 / 75) * 1rem;
        height: (86 / 75) * 1rem;
        background: url("../../assets/images/write_borrow_btn_select.png") no-repeat;
        background-size: contain;
        background-position: top center;
      }

      &.write-sendOut-btn {
        width: (330 / 75) * 1rem;
        height: (87 / 75) * 1rem;
        background: url("../../assets/images/write-sendOut.png") no-repeat;
        background-size: contain;
        background-position: top center;
      }
    }
  }

  .logo-wp {
    position: relative;
    text-align: center;

    .logo-img {
      width: (144 / 75) * 1rem;
      height: (60 / 75) * 1rem;
      vertical-align: middle;
      outline: none;
      overflow: hidden;
    }
  }
}
