@import "base";

@font-face {
  font-family: HandBook;
  src: url("../../assets/front/handbook.ttf");
}

@font-face {
  font-family: SourceHanSerifCN-Bold-compress2;
  src: url("../../assets/front/SourceHanSerifCN-Bold-compress2.ttf");
}

.watchMovie-wp {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c1c6cc;

  .watchMovie-cont {
    position: relative;
    width: 100%;
    height: 100%;
    //background: url("../../assets/images/myletter_bg.jpg") no-repeat;
    background: url("../../assets/images/myletter_top_bg.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .watchMovie-bottom-bg {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: (106 / 75) * 1rem;
    background: url("../../assets/images/myletter_bottom_bg.png") no-repeat;
    background-size: contain;
    background-position: bottom center;
  }

  .watchMovie-main {
    position: relative;
  }

  .letter-info {
    position: relative;
    width: (544 / 75) * 1rem;
    height: (700 / 75) * 1rem;
    padding: (60 / 75) * 1rem (40 / 75) * 1rem;
    margin: 0 auto;
    background: url("../../assets/images/myletter_xinzhi.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .letter-total {
    margin-top: (40/ 75) * 1rem;
    font-size: (28 / 75) * 1rem;
    font-weight: bold;
    text-align: center;
    color: #343333;
  }

  .btns-wp {
    position: relative;
    margin-top: (83 / 75) * 1rem;
    text-align: center;

    .btn-link {
      display: inline-block;
      width: (250 /75) * 1rem;
      height: (86 / 75) * 1rem;
      margin: 0 (26 / 75) * 1rem;
      text-decoration: none;
      cursor: pointer;

      &.return-home {
        background: url("../../assets/images/return_home.png") no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &.watchMovie-link {
        background: url("../../assets/images/watchMovie_btn.png") no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }

  .wm {
    position: relative;
    // padding-left: (40 / 75) * 1rem;
    font-size: (28 / 75) * 1rem;
    font-family: SourceHanSerifCN-Bold-compress2;
    font-weight: 500;
    color: #0f0503;
    letter-spacing: (2 / 75) * 1rem;
    text-align: left;
  }

  .letter-m {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: (480 / 75) *1rem;
    font-family: SourceHanSerifCN-Bold-compress2;
    font-size: (26 /75) * 1rem;
    letter-spacing: (2 / 75) * 1rem;
    color: #0f0503;
    overflow: hidden;
  }

  .u-info {
    position: relative;
    padding-right: (30 / 75) * 1rem;
    margin-top: ( 20 / 75) * 1rem;
    vertical-align: middle;
    text-align: right;

    .u-avatar {
      display: inline-block;
      width: (70 / 75) * 1rem;
      height: (70 / 75) * 1rem;
      vertical-align: middle;
      border-radius: (70 / 75) * 1rem;
      overflow: hidden;
    }

    .u-name {
      display: inline-block;
      margin-left: (10 / 75) * 1rem;
      font-size: (28 / 75) * 1rem;
      font-family: SourceHanSerifCN-Bold-compress2;
      font-weight: 500;
      letter-spacing: (2 / 75) * 1rem;
      color: #0f0503;
    }
  }

  .letter-text {
    position: relative;
    width: (571 / 75) * 1rem;
    height: (20 / 75) * 1rem;
    margin: (35/ 75) * 1rem auto 0;
    background: url("../../assets/images/coupon.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .logo-wp {
    position: relative;
    margin-top: (20 / 75) * 1rem;
    text-align: center;

    .logo-img {
      width: (144 / 75) * 1rem;
      height: (60 / 75) * 1rem;
      vertical-align: middle;
      outline: none;
      overflow: hidden;
    }
  }

  .keys-wp {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    vertical-align: middle;

    .btn-fuzhi {
      display: block;
      padding: (40 / 75) * 1rem;
      margin-top: (40 / 75) * 1rem;
      background-color: #fff;
      color: #000;
    }
  }

  .ticket-finish {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: (54 / 75) * 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    .ticketFinish-cont {
      position: relative;
      width: (610 / 75) * 1rem;
      height: (948 / 75) * 1rem;
      margin: 0 auto;
      background: url("../../assets/images/ticket_finish.png") no-repeat;
      background-size: contain;
      background-position: top center;

      .ticketFinish-close {
        position: absolute;
        top: 0;
        right: 0;
        width: (70 / 75) * 1rem;
        height: (70 / 75) * 1rem;
        text-decoration: none;
        cursor: pointer;
      }

      .buy-tickets {
        position: absolute;
        left: (171 / 75) * 1rem;
        bottom: (69 / 75) * 1rem;
        width: (252 / 75) * 1rem;
        height: (86 / 75) * 1rem;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .ticket {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: (54 / 75) * 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    .ticket-cont {
      position: relative;
      width: (626 / 75) * 1rem;
      height: (994 / 75) * 1rem;
      margin: 0 auto;
      background: url("../../assets/images/ticket.png") no-repeat;
      background-size: contain;
      background-position: top center;

      .ticket-code {
        position: relative;
        padding-top: (250 / 75 ) * 1rem;
        font-size: (48 / 75) * 1rem;
        font-weight: bold;
        color: #fff;
        text-align: center;
      }

      .ticket-close {
        position: absolute;
        top: 0;
        right: 0;
        width: (70 / 75) * 1rem;
        height: (70 / 75) * 1rem;
        text-decoration: none;
        cursor: pointer;
      }

      .receive-tickets {
        position: absolute;
        left: (146 / 75) * 1rem;
        bottom: (40 / 75) * 1rem;
        width: (251 / 75) * 1rem;
        height: (87 / 75) * 1rem;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
