@import "base";
// @font-face {
//   font-family: SourceHanSerifCN-Bold-compress2;
//   src: url("../../assets/front/SourceHanSerifCN-Bold-compress2.ttf");
// }
.loading-wp {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: (387 / 75) * 1rem;
  background: url("../../assets/images/loading_bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: top center;

  .loading-m {
    position: relative;
    min-height: (176 / 75) * 1rem;
    text-align: center;

    .loading-img {
      width: (313 / 75) * 1rem;
      height: (176 / 75) * 1rem;
      vertical-align: middle;
      outline: none;
      overflow: hidden;
    }
  }

  .progress-cont {
    position: relative;
    width: ( 500 / 75 ) * 1rem;
    margin: (30 / 75) * 1rem auto 0;
  }

  .progress-w {
    position: relative;
    width: ( 500 / 75 ) * 1rem;
    height: (20 / 75) * 1rem;
    border-radius: (20 / 75) * 1rem;
    background-color: #fff;
    overflow: hidden;

    .progress-bar {
      position: absolute;
      height: (20 / 75) * 1rem;
      background-color: #de2e30;
      border-radius: (20 / 75) * 1rem;
    }
  }

  .progress-Num {
    position: relative;
    margin-top: (65 / 75) * 1rem;
    font-size: (54 / 75) * 1rem;
    color: #bb864c;
    font-weight: 500;
    text-align: center;
    vertical-align: bottom;
    // font-family: SourceHanSerifCN-Bold-compress2;
    span {
      font-size: (40 / 75) * 1rem;
    }
  }
}
